In [66]:
from sqlalchemy import create_engine
from sqlalchemy.sql import text 
import psycopg2
import matplotlib.pyplot as plt

In [52]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

#### Подключаемся к базе данных

In [59]:
%sql postgresql://postgres:qwerty12345@localhost/online_shop

In [60]:
engine = create_engine('postgresql://postgres:qwerty12345@localhost/online_shop')

#### Создаем таблицы для пользователей, товаров и покупок

In [61]:
%%sql
CREATE TABLE users (
    user_id SERIAL PRIMARY KEY,
    username VARCHAR(50) NOT NULL UNIQUE,
    email VARCHAR(100) NOT NULL UNIQUE
);

CREATE TABLE products (
    product_id SERIAL PRIMARY KEY,
    product_name VARCHAR(100) NOT NULL,
    price DECIMAL(10,2) NOT NULL CHECK (price > 0)
);

CREATE TABLE orders (
    order_id SERIAL PRIMARY KEY,
    user_id INTEGER REFERENCES users(user_id),
    product_id INTEGER REFERENCES products(product_id),
    quantity INTEGER NOT NULL CHECK (quantity > 0),
    order_date DATE NOT NULL DEFAULT CURRENT_DATE
);

   postgresql://postgres:***@localhost
   postgresql://postgres:***@localhost/internet_shop
 * postgresql://postgres:***@localhost/online_shop
Done.
Done.
Done.

[]

#### Заполняем таблицы данными

In [62]:
%%sql

INSERT INTO users (username, email) VALUES
    ('Иван Петров', 'ivan.petrov@mail.com'),
    ('Анна Сидорова', 'anna.sidorova@mail.com'),
    ('Петр Иванов', 'petr.ivanov@mail.com'),
    ('Елена Смирнова', 'elena.smirnova@mail.com');

INSERT INTO products (product_name, price) VALUES
    ('Ноутбук', 799),
    ('Клавиатура', 59),
    ('Мышь', 24),
    ('Монитор', 199),
    ('Наушники', 49);

INSERT INTO orders (user_id, product_id, quantity, order_date) VALUES
    (1, 1, 1, '2023-10-26'),
    (2, 3, 2, '2023-10-26'),
    (3, 2, 1, '2023-10-25'),
    (1, 5, 1, '2023-10-25'),
    (4, 4, 1, '2023-10-24'),
    (2, 1, 1, '2023-10-23');

   postgresql://postgres:***@localhost
   postgresql://postgres:***@localhost/internet_shop
 * postgresql://postgres:***@localhost/online_shop
4 rows affected.
5 rows affected.
6 rows affected.

[]

## Запрос А: Получить информацию о кол-ве продаж всех товаров

In [76]:
%%sql
SELECT p.product_name, SUM(o.quantity) AS total_sold
FROM products p
JOIN orders o ON p.product_id = o.product_id
GROUP BY p.product_name;

   postgresql://postgres:***@localhost
   postgresql://postgres:***@localhost/internet_shop
 * postgresql://postgres:***@localhost/online_shop
5 rows affected.

[('Монитор', 1),
 ('Ноутбук', 2),
 ('Мышь', 2),
 ('Клавиатура', 1),
 ('Наушники', 1)]

## Запрос Б: Собрать статистику покупок пользователей (сколько и каких товаров купил конкретный пользователь)

In [77]:
%%sql

SELECT users.username, products.product_name, SUM(orders.quantity) AS quantity
FROM users
JOIN orders ON users.user_id = orders.user_id
JOIN products ON orders.product_id = products.product_id
GROUP BY users.username, products.product_name
ORDER BY users.username, products.product_name;

   postgresql://postgres:***@localhost
   postgresql://postgres:***@localhost/internet_shop
 * postgresql://postgres:***@localhost/online_shop
6 rows affected.

[('Анна Сидорова', 'Мышь', 2),
 ('Анна Сидорова', 'Ноутбук', 1),
 ('Елена Смирнова', 'Монитор', 1),
 ('Иван Петров', 'Наушники', 1),
 ('Иван Петров', 'Ноутбук', 1),
 ('Петр Иванов', 'Клавиатура', 1)]

## Запрос В: Отобразить историю продаж по дням (сколько товаров было продано в день)

In [78]:
%%sql

SELECT order_date, SUM(quantity) AS total_sales
FROM orders
GROUP BY order_date
ORDER BY order_date;

   postgresql://postgres:***@localhost
   postgresql://postgres:***@localhost/internet_shop
 * postgresql://postgres:***@localhost/online_shop
4 rows affected.

[(datetime.date(2023, 10, 23), 1),
 (datetime.date(2023, 10, 24), 1),
 (datetime.date(2023, 10, 25), 2),
 (datetime.date(2023, 10, 26), 3)]

In [1]:
pwd

'C:\\Users\\Dexter'